################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GridGame/.vs
/GridGame/GridGame/bin/Debug/net8.0
/GridGame/GridGame/obj
/GridGame/GridGame.UnitTest/bin/Debug/net8.0
/GridGame/GridGame.UnitTest/obj
